{{#if success_msg}}
<div class="conteiner">
    <div class="success">
        {{success_msg}}
    </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="conteiner">
    <div class="error">
        {{error_msg}}
    </div>
</div>
{{/if}}

{{#if error}}
<div class="conteiner">
    <div class="error">
        {{error}}
    </div>
</div>
{{/if}}