<h2>Forgot Password</h2>
<br />
<form action="/auth/forgot" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" />
    </div>

    <div>
        <input class="btn btn-category" type="submit" value="Reset Password" />
    </div>
</form>
<br />