<h2>Reset Password</h2>
<br />
<form action="/auth/reset/{{token}}" method="POST">
    <div>
        <label for="password">New Password:</label>
        <input type="password" name="password" />
    </div>

    <div>
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" />
    </div>

    <div>
        <input class="btn btn-category" type="submit" value="Update Password" />
    </div>
</form>
<br />