<h2>Login</h2>
<br />
<form action="/auth/login" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" />
    </div>

    <div>
        <input class="btn btn-category" type="submit" value="Login" />
    </div>
    <p><a href="/auth/forgot">Forgot password?</a></p>
</form>
<br />